#app3{
    border: 1px solid red;
    height: 50vh;
    width: 50vw;
}

#app3 .square{
    border: 1px solid black;
    width: 10vw;
    height: 10vw;
    margin-top: 50px;
    margin-left: 20px;
    transition: 1s;
}
#app3 .square.active{
    transform: translateX(200px);
}